
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# 데이터 & 결과물
*.csv
*.pkl
*.h5
*.pth
*.pt
/data/
dataset/
saved/
submit/

# 모델 체크포인트
checkpoints/
saved_models/
outputs/
runs/
wandb/

# 환경설정
.env
.vscode/
.idea/
*.swp
*.swo
goats/

# OS
.DS_Store
Thumbs.db

# 로그
*.log
logs/